extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotro", class="img-fluid")
            .col-md-7
                h1= pagina             
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales arcu finibus, gravida ligula eu, auctor nulla. Suspendisse sit amet sem sagittis, faucibus est in, malesuada ligula. Vivamus mattis auctor est, ut ultrices turpis fringilla ac. Mauris massa massa, tempor at velit sed, lacinia congue velit. Duis eget ex nunc. Aliquam at vestibulum nunc, ac interdum.
               
                p efficitur metus ut porta volutpat. Aliquam erat volutpat. Donec suscipit commodo convallis. Cras congue elementum elit, ut hendrerit lectus facilisis vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent eu ultrices leo. In hac habitasse platea dictumst. In eu purus id lectus sodales suscipit. Sed non interdum dolor. Donec vel tempor nunc, vitae tincidunt purus. Nullam semper egestas odio, quis malesuada tellus luctus nec. Vivamus gravida ultricies diam sed egestas. In quis erat nibh.
               
                p tristique metus et augue auctor, at commodo velit congue. Nam faucibus augue vitae pretium volutpat. Ut pellentesque diam risus, sed dapibus risus vestibulum ut. Aliquam vulputate malesuada consectetur. Aenean at tortor efficitur, commodo arcu vitae, scelerisque ante. Aliquam quis placerat mauris. In mattis nisi quis erat lobortis, laoreet rhoncus metus rhoncus. Sed sodales rhoncus eros id lacinia. Vivamus hendrerit, erat a pretium varius, ex orci placerat nisl, ut bibendum tellus dolor quis mi.

    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eius natus! Reprehenderit aliquid odio unde culpa recusandae ducimus perferendis accusamus velit dicta nemo commodi minima suscipit, rerum dolorem laboriosam quam.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eius natus! Reprehenderit aliquid odio unde culpa recusandae ducimus perferendis accusamus velit dicta nemo commodi minima suscipit, rerum dolorem laboriosam quam.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eius natus! Reprehenderit aliquid odio unde culpa recusandae ducimus perferendis accusamus velit dicta nemo commodi minima suscipit, rerum dolorem laboriosam quam.
                        